/* styles.css */
:root {
  --font-size-base: calc(0.5vw + 0.5vh + 0.25vmin);
  --font-size-large: calc(0.75vw + 0.75vh + 0.25vmin);
  --text-color-secondary: #666;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 20%));
    gap: 16px;
    padding: 16px;
  }
  
  .anime-panel {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .anime-panel img {
    width: 100%;
    display: block;
  }
  
  .anime-info {
    padding: 8px;
    text-align: center;
  }
  
  .anime-info h3, .anime-info h4, .anime-info p {
    margin: 0;
    white-space: nowrap; /* Prevents the text from wrapping to a new line */
    overflow: hidden; /* Ensures the overflow text is hidden */
    text-overflow: ellipsis; /* Adds an ellipsis to indicate text overflow */
    width: 100%; /* Specify a width; adjust as necessary */
    display: block; /* Ensures the element behaves like a block-level element */
  }
  
  .anime-info h3 {
    font-size: var(--font-size-large); /* Using the larger font size */
  }
  
  .anime-info h4, .anime-info p {
    font-size: var(--font-size-base);
    color: var(--text-color-secondary);
  }
  

  .anime-panel-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Keeps the text color the same as the parent element */
  }