/* styles.css */
:root {
  --font-size-base: calc(0.35vw + 0.35vh + 0.25vmin);
  --font-size-large: calc(0.5vw + 0.5vh + 0.25vmin);
  --text-color-secondary: #666;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 20%));
    gap: 16px;
    padding: 16px;
  }
  
  .anime-panel {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .anime-panel img {
    width: 100%;
    display: block;
  }
  
  anime-info-block {
    padding: 8px;
    text-align: center;
  }
  
  anime-title, anime-subtitle, anime-progress {
    margin: 0;
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    font-weight: bold;
    text-align: center;
  }
  
  anime-title {
    font-size: var(--font-size-large);
  }
  
  anime-subtitle, anime-progress {
    font-size: var(--font-size-base);
    color: var(--text-color-secondary);
  }
  

  .anime-panel-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Keeps the text color the same as the parent element */
  }

  .load-more {
    padding: 8px 16px; /* Adjust size to your liking */
    font-size: var(--font-size-large); /* Set font size */
    text-align: center; /* Center the text inside the button */
    border: 1px solid #000; /* Solid border with a color of your choice */
    background-color: transparent; /* Transparent background */
    cursor: pointer; /* Changes cursor to pointer on hover */
    text-decoration: none; /* Removes underline from text */
    display: inline-block; /* Allows width and height to be set */
    margin: 8px 0; /* Adds space around the button, adjust as needed */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  
    /* Rounded corners */
    border-radius: 4px;
  
    /* Colors */
    color: #000; /* Text color */
    
    /* Removes outline on focus for a clean style, but consider accessibility implications */
    outline: none;

    align-items: center;
  }
  
  .load-more:hover, .load-more:focus {
    background-color: #f0f0f0; /* Light background on hover/focus */
    color: #333; /* Slightly darker text color on hover/focus */
  }